In [15]:
import pandas as pd 
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [16]:
df=pd.read_csv("breast-cancer-wisconsin.csv")
df.head()

,id,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bare_nucleoli,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [17]:
y=df["class"]
x=df.drop(["id","class","bare_nucleoli"],axis=1)

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.35,random_state=3)

In [19]:
x_train

,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bland_chromatin,normal_nucleoli,mitoses
596,4,1,2,1,2,2,1,1
399,1,2,3,1,2,1,1,1
126,7,5,3,7,4,7,5,5
25,5,2,3,4,2,3,6,1
686,1,1,1,1,2,1,1,1
180,1,1,1,1,1,3,1,1
174,8,6,5,4,3,6,1,1
557,5,1,1,3,2,1,1,1
59,9,5,5,2,2,5,1,1
237,9,8,8,5,6,4,10,4
583,3,1,1,1,2,1,1,1
153,4,1,1,1,2,1,1,1
161,4,1,1,1,2,3,2,1
244,1,1,1,1,2,3,1,1
158,1,1,2,1,3,1,1,1
288,6,1,3,1,4,5,10,1
672,2,1,1,1,2,3,1,1
478,5,2,1,1,2,1,1,1
673,5,3,2,1,3,1,1,1
486,3,1,1,1,1,2,1,1
602,4,1,1,1,2,2,1,1
54,10,5,5,6,8,7,1,1
534,2,1,1,1,2,2,1,1
283,10,4,6,1,2,5,3,1
168,3,1,1,1,2,3,1,1
579,1,1,1,1,2,3,1,1
594,4,8,6,3,4,7,1,1
457,8,8,9,6,6,10,10,1
24,1,1,1,1,2,3,1,1
574,10,9,7,3,4,7,7,1
...,...,...,...,...,...,...,...,...
519,4,7,8,3,4,9,1,1
507,1,1,1,1,2,1,1,1
152,10,10,8,6,4,8,10,1
618,4,1,1,1,2,2,1,1
413,5,1,2,1,2,3,1,1
609,5,1,1,1,2,1,1,1
622,7,1,2,3,2,2,1,1
581,5,7,10,6,5,7,5,1
641,3,1,1,1,2,2,1,1
316,5,5,5,2,5,4,3,1
258,3,1,1,1,2,3,1,1
662,1,1,3,1,2,2,1,1
474,5,1,1,1,2,1,1,1
337,1,1,1,1,2,3,1,1
538,4,1,1,1,2,2,1,1
504,1,1,1,1,2,1,1,1
398,3,2,1,1,2,2,2,1
423,5,1,3,1,2,2,1,1
605,10,5,10,3,5,7,8,3
660,1,1,1,1,2,2,1,1
480,5,1,1,1,1,1,1,1
422,4,3,3,1,2,3,3,1
119,3,2,1,1,2,3,1,1
650,3,1,1,2,3,1,1,1
681,5,10,10,10,4,5,6,3
659,1,1,1,1,2,1,1,1
256,3,1,1,1,2,1,1,1
643,1,1,1,1,2,1,1,1
249,3,1,1,1,2,3,1,1
664,3,1,1,3,2,2,1,1

In [20]:
clf=LinearRegression()
clf.fit(x_train,y_train)
clf.score(x_train,y_train)

0.8078088978850371

In [21]:
clf2=LogisticRegression()
clf2.fit(x_train,y_train)
clf2.score(x_train,y_train)

F:\d\anana\lksdj\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.9647577092511013